
.navigation {
    background-color: transparent;
    padding: 3vh;
    margin-bottom: 2em;
    width: 100%;
    display: block;
}
.logo {
    cursor: url("/Images/lightblue.png"), auto;
}

body {
    line-height: 1.5;
    font-family: "Roboto Condensed", serif;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.65);
    cursor: url("/Images/cursor.png"), auto;
  }

span.h6 {
      color:#224AE0;
      font-weight: 700;
      font-size: 18px;
  }

h2.content-title {
      color: black;
      font-weight: 700;
      font-size: 45px;
  }

p.mb-5{
      color: black;
  }

span.text-md {
      color: #224AE0;
      font-size: 36px; 
      font-weight: 700;
  }

h3.mb-3 {
    color: black;
    font-size: 25px;
    font-weight: 700;
}

button.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 100px;  
    transition: all 0.2s ease;
}
button:hover {
    color: white;
    background-image: linear-gradient(to right, #224AE0 , #DA379F);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: url("/Images/lightblue.png"), auto !important;
  }

img.img-fluid {
    height: 350px;
}

section.about-info {
    margin-top: 50px;
    margin-bottom: 100px;
}

.footer {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif, bold;
    color: black;
    text-decoration: none;
    padding: 18px;
    margin: 0px;
    box-shadow: 0 -3px 10px rgba(88, 88, 88, 0.5);
}

.inline-block ul li{
    margin-left: 5vw;
}
.footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;
}
.footer a:link { text-decoration: none;
    color: black; 
}
.footer a:visited { text-decoration: none; 
    color: black;}
.footer a:hover {
    text-decoration-line: underline;
    text-decoration-color: #224AE0;
    text-decoration-thickness: 5px;
    cursor: url("/Images/lightblue.png"), auto;
    }
.footer a:active { text-decoration: none; 
}

.copyright {
    content: "\00A9";
    color: gray;
    font-size: 10px;
    margin-left: 100px;
    padding-bottom: 10vh;
  }
