/*
==============================================
Fonts Installation
==============================================
*/
@import 'https://fonts.googleapis.com/css?family=Droid+Serif';
@font-face {
  font-family: "Bodoni";
  src: url("//static1.squarespace.com/static/543870a5e4b0a877b5a652d9/t/57dad241414fb5d694751ab7/1473958465275/BodoniFLF-Roman.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bodoni Bold";
  src: url("//static1.squarespace.com/static/543870a5e4b0a877b5a652d9/t/57dad236414fb5d694751a44/1473958454896/BodoniFLF-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bodoni Italic";
  src: url("//static1.squarespace.com/static/543870a5e4b0a877b5a652d9/t/57dad23b414fb5d694751a73/1473958460144/BodoniFLF-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Bodoni Bold Italic";
  src: url("//static1.squarespace.com/static/543870a5e4b0a877b5a652d9/t/57dad231414fb5d694751a13/1473958449544/BodoniFLF-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
/*
==============================================
Variables
==============================================
*/
/*
==============================================
Mixins
==============================================
*/
/*
==============================================
Overall styles
==============================================
*/
.align-center {
  text-align: center;
}

h1 {
  font-family: 'Bodoni Bold';
  font-weight: 700;
  font-style: bold;
  font-size: 7vw;
  color: #000;
  /* letter-spacing: 6px; */
}

div.h2 {
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 3em;
  letter-spacing: 0.09em;
  width: 800px;
}

h2.align-center {
  color: black;
  padding-top: 4.5em;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2vw;
  font-style: italic;
  letter-spacing: 0.09em;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8em;
  font-style: italic;
  padding-top: 0.5em;
  letter-spacing: 0.09em;
}

audio:hover {transform: scale(1.1);filter: drop-shadow(2px 3px 3px #333);}

audio::-webkit-media-controls-panel {background-color: #d6e7f9;}
audio::-webkit-media-controls-mute-button
audio::-webkit-media-controls-play-button
audio::-webkit-media-controls-timeline-container
audio::-webkit-media-controls-current-time-display
audio::-webkit-media-controls-time-remaining-display
audio::-webkit-media-controls-timeline
audio::-webkit-media-controls-volume-slider-container
audio::-webkit-media-controls-volume-slider
audio::-webkit-media-controls-seek-back-button
audio::-webkit-media-controls-seek-forward-button
audio::-webkit-media-controls-fullscreen-button
audio::-webkit-media-controls-rewind-button
audio::-webkit-media-controls-return-to-realtime-button
audio::-webkit-media-controls-toggle-closed-captions-button

.description {
  display: none;
}

.mood-board {
  width: 100%;
  height: 100vh;
  /* background: #e6ccff; */
  /* background: linear-gradient( #ccd2ff , #e6ccff); */
  background: linear-gradient( #AEBAFE , #EAB3FC);
  position: relative;
  cursor: url("/Images/cursor.png"), auto;
}
.mood-board .title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 40vh;
}
.mood-board .instructions {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 40vh;
}
.mood-board .images {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  margin: auto;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
.mood-board .element {
  position: absolute;
  z-index: 0;
}
.mood-board .element:hover .description {
  display: block;
}
.mood-board .element img {
  width: 100%;
  height: 100%;
}

.navigation {
  position: fixed;
  background-color: transparent;
  float: left;
  width: 100%;
  padding: 3vh;
  z-index: 2;
  cursor: url("/Images/cursor.png"), auto;
}

.logo {
cursor: url("/Images/lightblue.png"), auto;
}

.footer {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  font-weight: lighter;
  text-decoration: none;
  padding: 18px;
  margin: 0px;
  box-shadow: 0 -3px 10px rgba(88, 88, 88, 0.5);
  cursor: url("/Images/cursor.png"), auto;
}

.inline-block ul li{
  margin-left: 5vw;
}
.footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 40px;
}
.footer a:link { text-decoration: none;
  color: black; 
}
.footer a:visited { text-decoration: none; 
  color: black;}
.footer a:hover {
  text-decoration-line: underline;
  text-decoration-color: #224AE0;
  text-decoration-thickness: 5px;
  cursor: url("/Images/lightblue.png"), auto;
  }
.footer a:active { text-decoration: none;}

@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  text-decoration-color: #224AE0;
    cursor: url("/Images/lightblue.png"), auto;
}