*{
    box-sizing: border-box;
}
body{
    height: 100%;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: white;
    cursor: url("/Images/cursor.png"), auto;
}

.navigation {
    position: fixed;
    background-color: transparent;
    float: left;
    padding: 3vh;
    cursor: url("/Images/lightblue.png"), auto;
}

.hero {
    height: 100%;
    width: 100vw;
    background-image: url("Images/WebBanner.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.heroContents {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 1px 1px 1px rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40pt;
    padding: 80px;
    margin-bottom: 80px;
}

.footer {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-weight: lighter;
    text-decoration: none;
    padding: 18px;
    margin: 0px;
    box-shadow: 0 -3px 10px rgba(88, 88, 88, 0.5);
}

.inline-block ul li{
    margin-left: 5vw;
}
.footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;
}
a:link { text-decoration: none;
    color: black; 
}
a:visited { text-decoration: none; 
    color: black;}
a:hover {
    text-decoration-line: underline;
    text-decoration-color: #224AE0;
    text-decoration-thickness: 5px;
    cursor: url("/Images/lightblue.png"), auto;
    }
a:active { text-decoration: none; 
}

#here {
    color: white;
}


@-webkit-keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .hvr-wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    text-decoration-color: #D9379E;
    cursor: url("/Images/lightblue.png"), auto;
  }

  
