.first {
    background: url("Images/winesteward.png") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    border-radius: 60px;
    background-size: cover;
    -moz-box-shadow: 0 0 10px rgb(172, 172, 172);
    -webkit-box-shadow: 0 0 10px rgb(172, 172, 172);
    box-shadow: 0 0 10px rgb(172, 172, 172);
}

.second {
    background: url("Images/second.png") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    border-radius: 60px;
    background-size: cover;
    -moz-box-shadow: 0 0 10px rgb(172, 172, 172);
    -webkit-box-shadow: 0 0 10px rgb(172, 172, 172);
    box-shadow: 0 0 10px rgb(172, 172, 172);
}

.third {
    background: url("Images/calstudentphil.png") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    border-radius: 60px;
    background-size: cover;
    -moz-box-shadow: 0 0 10px rgb(172, 172, 172);
    -webkit-box-shadow: 0 0 10px rgb(172, 172, 172);
    box-shadow: 0 0 10px rgb(172, 172, 172);
}

.jumbotron:hover {
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -moz-box-shadow: 0 0 10px 2px rgb(172, 172, 172);
        -webkit-box-shadow: 0 0 10px 2px rgb(172, 172, 172);
        box-shadow: 0 0 10px 2px rgb(172, 172, 172);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        cursor: url("/Images/lightblue.png"), auto;
      }
      .jumbotron:hover, .jumbotron:focus, .jumbotron:active {
 -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
      }

section#jumbotron_container a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    cursor: url("/Images/cursor.png"), auto; 
    /* margin-bottom: 100px; */
}

div.jumbotron {
    align-self: center;
    cursor: url("/Images/cursor.png"), auto;
}
.display-4 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

.navigation {
    background-color: transparent;
    padding: 3vh;
    margin-bottom: 2em;
    width: 100%;
    display: block;
}
.logo {
    cursor: url("/Images/lightblue.png"), auto;
}
.footer {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-weight: lighter;
    text-decoration: none;
    padding: 18px;
    margin: 0px;
    box-shadow: 0 -3px 10px rgba(88, 88, 88, 0.5);
}

.inline-block ul li{
    margin-left: 5vw;
}
.footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;
}
.footer a:link { text-decoration: none;
    color: black; 
}
.footer a:visited { text-decoration: none; 
    color: black;}
.footer a:hover {
    text-decoration-line: underline;
    text-decoration-color: #224AE0;
    text-decoration-thickness: 5px;
    cursor: url("/Images/lightblue.png"), auto; }
.footer a:active { text-decoration: none;}

body {
    cursor: url("/Images/cursor.png"), auto;
}

.copyright {
    content: "\00A9";
    color: gray;
    font-size: 10px;
    margin-left: 100px;
    padding-bottom: 10vh;
  }

  @media (max-width: 767px) {
    div.jumbotron {
        border-radius: 16px;
        background-size: contain !important;
        background-size: cover !important;
        -moz-background-size: contain;
        width: 20rem!important;
        height: 6rem !important;
    }

      .display-4 {
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 20px !important;
    }

    .footer {
        padding: 10px;
        margin: 0px;
        box-shadow: 0 -1px 7px rgba(88, 88, 88, 0.5);
    }
    
    .footer ul {
        list-style-type: none;
        margin: 0px;
        padding: 0;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 30px;
    }

    .copyright {
        font-size: 7px;
        margin-left: 145px;
        padding-bottom: 8vh;
      }



}
@-webkit-keyframes hvr-wobble-skew {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  @keyframes hvr-wobble-skew {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  .hvr-wobble-skew {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
    -webkit-animation-name: hvr-wobble-skew;
    animation-name: hvr-wobble-skew;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    text-decoration-color: #224AE0;
      cursor: url("/Images/lightblue.png"), auto;
  }